.background{
    background-size: cover;
    background-position: center bottom 45%;
    height:500px;
    width:100%
  }
  @media (max-width:26rem) {
    .background{
      height: 400px;
      background-position: center top 25px;
      background-repeat: no-repeat;
      background-color: #1a232b;
    }
  }
  
  .header-flex{
    height:100%;
    background:rgba(0,0,0,0.5);
    text-align:center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width:28rem) {
    .header-flex{
      padding:0 0 90px 0;
    }
  }
  
  .header{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0 1rem;
  }
  
  @media (max-width:48rem) {
    .header{
      font-size: 2.5rem;
    }
  }
  @media (max-width:28rem) {
    .header{
      font-size: 2.25rem;
    }
  }
  
  
  .header-p{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 2rem;
    color: rgb(231, 231, 231);
  }
  @media (max-width:48rem) {
    .header-p{
      font-size: 1.25rem;
    }
  }
  @media (max-width:28rem) {
    .header-p{
      font-size: 1rem;
      margin: 0 1.5rem;
    }
  }
  
  
  